.cart-icon{
    position: relative;
    margin-right: 15px;
}

.cart-icon span{
    color: rgb(253, 253, 253);
    background: rgb(221, 29, 29);
    border-radius: 16px;
    position: absolute;
    top: 18px;
    right: -14px;
    font-size: 10px;
    padding: 5px;
}
.gg{
    color: red;
    width: 80%;
    height: 80vh;
    position: absolute;
    top: 120px;
    left: 10%;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.cart{
    position: relative;
    transform: scaleY(0.98);
    border: 1px solid rgb(211, 209, 209);
    top: 100px;
    border-radius: 2px;
}
.amount span{
    color: rgb(243, 64, 64);
    padding: 16px;
}
.amount .count{
    width: 36px;
    border-radius: 2px;
    height: 30px;
    outline: none;
}
.delete{
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
    color: rgb(250, 21, 21);
    font-weight: bold;
    font-size: 18px;
}
.total{
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total a{
    background-color: var(--main-color);
    padding: 10px 25px;
    color: rgb(253, 253, 253);
}
.total h3{
    color: rgb(221, 29, 29);
}